@import '@/presentation/styles/colors.scss';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: $white;
    padding: 2rem 1rem;
    border-radius: 4px;
  }
}
