@import '@/presentation/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1.2rem;
    font-family: inherit;
    background: $blue50;
    color: $black;
  }

  p {
    color: $danger;
    font-size: 0.875rem;
  }
}
