@import '@/presentation/styles/colors.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}

.column {
  flex: 1;

  p {
    text-align: center;
    background-color: $grey900;
    color: $blue50;
    padding: 0.5rem;
  }
}

.pbi_card {
  border: 1px solid;
  background-color: $blue50;
  margin: 0.5rem;
  padding: 0.5rem;

  &[data-disable='true'] {
    display: none;
  }
}
