@import '@/presentation/styles/colors.scss';

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}

.column {
  flex: 1;

  p {
    text-align: center;
    background-color: $grey900;
    color: $blue50;
    padding: 0.5rem;
  }
}
