$white: #f8f8f8;
$black: #181818;

$success: #198754;
$danger: #dc3545;
$info: #39848b;
$warning: #f0a607;

$success-dark: #136941;
$danger-dark: #b32b38;
$info-dark: #26595e;
$warning-dark: #ca8c04;

$grey50: #e0e0e0;
$grey100: #c8c8c9;
$grey900: #2e2e2e;

$blue50: #e9f7ff;
$blue100: #98c7e4;
$blue200: #6da6c9;
$blue500: #0a5d8d;
