.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 5rem;

  a:link {
    text-decoration: none;
  }
}

.left {
  display: flex;
  align-items: center;
}

.breadcrumb {
  ul {
    margin-left: 5.1rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    li {
      list-style: none;
    }
  }
}
